

.ingameContainer{
    .container{
        height: 100vh;
        
        @include flexColumn(space-between);
        .headerIngame {
            width: 100vw;
            @include flexRow();
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            padding-top: 30px;
            .left{
                @include flexRow();
                .menu{
                    @include btnPurple();
                    .menuSymbol {
                        width: 20px;
                    }
                }
            }

            .right{
                @include flexRow();

                .healthbar{
                    width: 57px;
                    padding: 4px;
                    border-radius: 96px;
                    background: var(--White, #FFF);
                    margin-right: 20px;
                    .healthLeft{
                        width: 100%;
                        height: 8px;
                        border-radius: 96px;
                        background: var(--Dark-Navy, #261676);
                    }
                    // .healthLeft.error1{
                    //     width: 87.5%;
                    // }
                    // .healthLeft.error2{
                    //     width: 75%;
                    // }
                    // .healthLeft.error3{
                    //     width: 62.5%;
                    // }
                    // .healthLeft.error4{
                    //     width: 50%;
                    // }
                    // .healthLeft.error5{
                    //     width: 37.5%;
                    // }
                    // .healthLeft.error6{
                    //     width: 25%;
                    // }
                    // .healthLeft.error7{
                    //     width: 12.5%;
                    // }
                    // .healthLeft.error8{
                    //     width: 0%;
                    // }
                    @for $i from 1 through 8 {
                        $width: (100% * (8 - $i) / 8);
                        .healthLeft.error#{$i} {
                          width: $width;
                        }
                      }
                }

                .heartContainer {
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    position: relative;
                    
                
                    .heart {
                        position: absolute;
                        width: 14px;
                        height: 14px;
                        transform: rotate(-45deg);
                        top: 0;
                        left: 0;
                        /* Remove background: inherit; */
                        background: linear-gradient(180deg, #FE71FE 16.42%, #7199FF 100%);
                        background-size: 28px 28px; /* Double the size */
                        background-position: -7px -7px; /* Center the gradient */
                    }
                    
                    .heart::before,
                    .heart::after {
                        content: "";
                        position: absolute;
                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                        background: linear-gradient(180deg, #FE71FE 16.42%, #7199FF 100%);
                        background-size: 28px 28px; /* Match the heart's background size */
                    }
                    
                    .heart::before {
                        top: -7px;
                        left: 0;
                        background-position: -7px 0px; /* Adjust to align the gradient */
                    }
                    
                    .heart::after {
                        top: 0;
                        left: 7px;
                        background-position: -14px -7px; /* Adjust to align the gradient */
                    }
                }
                .volume{
                    background: transparent;
                    border: none;
                    padding-left: 15px;
                    
                    img{
                        height: 30px;
                    }
                }
            }
        }

        main{
            padding: 10px;
            width: 100vw;
            height: 100%;
            @include flexColumn();
            justify-content: space-between;

            .headline{
                @include headline();
                font-size: 40px;
                background: white;
                background-clip: text;
            }
            

            .wordContainer{
                @include flexRow;
                width: 100%;
                flex-wrap: wrap;
                column-gap: 40px;
                
                .word{
                
    
                    .keyWord{
                
                        color: $white;
                        background: var(--Blue, #2463FF);
                        box-shadow: 0px 0px 0px 0px #140E66 inset, 0px 3px 0px 1px #3C74FF inset;
                        box-sizing: border-box;
                        text-align: center;
                        font-family: "Mouse Memoirs";
                        font-size: 40px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 36px */
                        letter-spacing: -0.48px;
                        border-radius: 10px;
                        // width: 27px;
                        max-width: 66px;
                        min-width: 27px;
                        height: 63px;
                        background-clip: content-box;
                        border: 2px solid transparent;
                        user-select: none;
                    }
                    .keyWord.hidden{
                        color: transparent;
                        opacity: 0.3;
                    }
                }
                
            }

            .keyboard{
                display: flex;
                width: 100%;
                padding-bottom: 15vh;
                padding-top: 10vh;
                flex-wrap: wrap;

                .key{
                    color: var(--Dark-Navy, #261676);
                    box-sizing: border-box;
                    text-align: center;
                    font-family: "Mouse Memoirs";
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; /* 36px */
                    letter-spacing: -0.48px;
                    border-radius: 12px;
                    width: calc(100% / 9);
                    background: white;
                    background-clip: content-box;
                    border: 4px solid transparent;
                    aspect-ratio: 1 / 1.5;
                    user-select: none;

                    &:hover{
                        opacity: 0.6;
                    }
                    &:active{
                        opacity: 0.4;
                    }
                }

                .key.used{
                    opacity: 0.2;
                }
            }
        }
    }
}