//Font-sizes

$headingXL: 136px;
$headingL: 88px;
$headingM: 48px;
$headingS: 32px;
$body: 26px;

//colors

$darkNavy: #261676;
$blue: #2463FF;
$white: #FFFFFF;


//cursor
$cursor: url("/assets/Pointer.svg"), auto;