@font-face {
  font-family: "MouseMemoirs";
  src: url("/fonts/MouseMemoirs-Regular.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MouseMemoirs", sans-serif;
}

.notSelectable {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.containerBackgroundHome.containerBackground {
  background-image: url(/assets/images/background-mobile.svg);
  justify-content: center;
  min-height: 100vh;
}

.containerBackground {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 1;
  background: linear-gradient(180deg, rgba(26, 4, 58, 0.75) 0%, rgba(21, 18, 120, 0.75) 70.31%, rgba(43, 22, 119, 0.75) 100%), url(/assets/images/background-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.containerBackground .menuBackground {
  width: 324px;
  height: 481px;
  border-radius: 48px;
  background: linear-gradient(180deg, #344ABA 0%, rgba(0, 20, 121, 0.83) 100%);
  box-shadow: 0px 9px 0px 3px #140E66, inset 0px 8px 0px 3px #2463FF;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 1;
}
.containerBackground .menuBackground .logo {
  width: 80%;
  position: absolute;
  top: -10%;
  flex-shrink: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.containerBackground .menuBackground .playButton {
  margin-bottom: 15%;
  width: 200px;
  height: 200px;
  border-radius: 999px;
  background: linear-gradient(180deg, #FE71FE 16.42%, #7199FF 100%);
  box-shadow: 0px 4px 0px 5px #243041, 0px -12px 0px 3px #9D2DF5 inset;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: url("/assets/Pointer.svg"), auto;
  flex-shrink: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.4s;
}
.containerBackground .menuBackground .playButton .playSymbol {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.containerBackground .menuBackground .playButton:hover {
  background: linear-gradient(180deg, #ffa0ff 30%, #95b3ff 100%);
  transform: scale(1.06);
}
.containerBackground .menuBackground .playButton:active {
  transition: all 0.2s;
  background: linear-gradient(180deg, #FE71FE 16.42%, #7199FF 100%);
  transform: scale(0.9);
  filter: brightness(0.5);
}
.containerBackground .menuBackground .howToPlay {
  display: inline-flex;
  padding: 12px 64px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 40px;
  background: #2463FF;
  color: #FFFFFF;
  box-shadow: 0px 2px 0px 3px #140E66, -2px 5px 0px 2px #3C74FF inset;
  border: none;
  font-size: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 38.4px */
  letter-spacing: 1.6px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-clip: padding-box;
  cursor: url("/assets/Pointer.svg"), auto;
  user-select: none;
  margin-bottom: 20%;
  text-decoration: none;
  cursor: url("/assets/Pointer.svg"), auto;
  flex-shrink: 1;
  transition: all 0.4s;
}
.containerBackground .menuBackground .howToPlay:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%), #2463FF;
  cursor: url("/assets/Pointer.svg"), auto;
}
.containerBackground .menuBackground .howToPlay:hover {
  transform: scale(1.06);
}
.containerBackground .menuBackground .howToPlay:active {
  transition: all 0.2s;
  transform: scale(0.9);
  filter: brightness(0.5);
}

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .back {
  height: 40px;
  width: 40px;
  flex-shrink: 0;
  border-radius: 999px;
  background: linear-gradient(180deg, #FE71FE 16.42%, #7199FF 100%);
  box-shadow: 0px -2px 1px 1px RGBA(157, 45, 245, 0.4) inset;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: url("/assets/Pointer.svg"), auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.4s;
}
header .back:hover {
  background: linear-gradient(180deg, #fca1fc 16.42%, #9eb9ff 100%);
}
header .back:active {
  background: linear-gradient(180deg, #FE71FE 16.42%, #7199FF 100%);
}
header .back .backArrow {
  width: 20px;
}
header .back:hover {
  transform: scale(1.06);
}
header .back:active {
  transition: all 0.2s;
  transform: scale(0.9);
  filter: brightness(0.5);
}
header .headline {
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 57.6px */
  letter-spacing: 2.4px;
  background: linear-gradient(180deg, #67B6FF 16.42%, #FFF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rulesContainer {
  min-height: 100vh;
  width: 97vw;
}
.rulesContainer .contaier {
  margin: 32px 26px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rulesContainer .contaier main {
  min-width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  overflow: visible;
}
.rulesContainer .contaier main section {
  max-width: 480px;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  overflow: hidden;
}
.rulesContainer .contaier main section .sectionContent {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.rulesContainer .contaier main section .sectionContent .sectionCaption {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 5%;
}
.rulesContainer .contaier main section .sectionContent .sectionCaption h2 {
  color: #2463FF;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.rulesContainer .contaier main section .sectionContent .sectionCaption h3 {
  color: #261676;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-left: 16px;
}
.rulesContainer .contaier main section .sectionContent p {
  align-self: stretch;
  color: #887DC0;
  font-family: "Mouse Memoirs";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  letter-spacing: 0.8px;
}

.categoryContainer {
  min-height: 100vh;
  width: 97vw;
  display: flex;
  flex-direction: column;
}
.categoryContainer .container {
  padding: 32px 26px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.categoryContainer .container header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.categoryContainer .container main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.categoryContainer .container main .categoryButton {
  display: inline-flex;
  padding: 12px 64px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 20px;
  background: #2463FF;
  color: #FFFFFF;
  box-shadow: 0px 2px 0px 3px #140E66, -2px 5px 0px 2px #3C74FF inset;
  border: none;
  font-size: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 38.4px */
  letter-spacing: 1.6px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-clip: padding-box;
  cursor: url("/assets/Pointer.svg"), auto;
  user-select: none;
  width: 100%;
  margin-bottom: 1rem;
  max-width: 415px;
}
.categoryContainer .container main .categoryButton:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%), #2463FF;
  cursor: url("/assets/Pointer.svg"), auto;
}

.ingameContainer {
  min-height: 100vh;
}
.ingameContainer .container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.ingameContainer .container .headerIngame {
  width: 97vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-top: 30px;
}
.ingameContainer .container .headerIngame .left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.ingameContainer .container .headerIngame .left .menu {
  height: 40px;
  width: 40px;
  flex-shrink: 0;
  border-radius: 999px;
  background: linear-gradient(180deg, #FE71FE 16.42%, #7199FF 100%);
  box-shadow: 0px -2px 1px 1px RGBA(157, 45, 245, 0.4) inset;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: url("/assets/Pointer.svg"), auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.ingameContainer .container .headerIngame .left .menu:hover {
  background: linear-gradient(180deg, #fca1fc 16.42%, #9eb9ff 100%);
}
.ingameContainer .container .headerIngame .left .menu:active {
  background: linear-gradient(180deg, #FE71FE 16.42%, #7199FF 100%);
}
.ingameContainer .container .headerIngame .left .menu .menuSymbol {
  width: 20px;
}
.ingameContainer .container .headerIngame .right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.ingameContainer .container .headerIngame .right .healthbar {
  width: 57px;
  padding: 4px;
  border-radius: 96px;
  background: var(--White, #FFF);
  margin-right: 20px;
}
.ingameContainer .container .headerIngame .right .healthbar .healthLeft {
  width: 100%;
  height: 8px;
  border-radius: 96px;
  background: var(--Dark-Navy, #261676);
}
.ingameContainer .container .headerIngame .right .healthbar .healthLeft.error1 {
  width: 87.5%;
}
.ingameContainer .container .headerIngame .right .healthbar .healthLeft.error2 {
  width: 75%;
}
.ingameContainer .container .headerIngame .right .healthbar .healthLeft.error3 {
  width: 62.5%;
}
.ingameContainer .container .headerIngame .right .healthbar .healthLeft.error4 {
  width: 50%;
}
.ingameContainer .container .headerIngame .right .healthbar .healthLeft.error5 {
  width: 37.5%;
}
.ingameContainer .container .headerIngame .right .healthbar .healthLeft.error6 {
  width: 25%;
}
.ingameContainer .container .headerIngame .right .healthbar .healthLeft.error7 {
  width: 12.5%;
}
.ingameContainer .container .headerIngame .right .healthbar .healthLeft.error8 {
  width: 0%;
}
.ingameContainer .container .headerIngame .right .heartContainer {
  display: inline-block;
  width: 14px;
  height: 14px;
  position: relative;
}
.ingameContainer .container .headerIngame .right .heartContainer .heart {
  position: absolute;
  width: 14px;
  height: 14px;
  transform: rotate(-45deg);
  top: 0;
  left: 0;
  /* Remove background: inherit; */
  background: linear-gradient(180deg, #FE71FE 16.42%, #7199FF 100%);
  background-size: 28px 28px; /* Double the size */
  background-position: -7px -7px; /* Center the gradient */
}
.ingameContainer .container .headerIngame .right .heartContainer .heart::before,
.ingameContainer .container .headerIngame .right .heartContainer .heart::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: linear-gradient(180deg, #FE71FE 16.42%, #7199FF 100%);
  background-size: 28px 28px; /* Match the heart's background size */
}
.ingameContainer .container .headerIngame .right .heartContainer .heart::before {
  top: -7px;
  left: 0;
  background-position: -7px 0px; /* Adjust to align the gradient */
}
.ingameContainer .container .headerIngame .right .heartContainer .heart::after {
  top: 0;
  left: 7px;
  background-position: -14px -7px; /* Adjust to align the gradient */
}
.ingameContainer .container .headerIngame .right .volume {
  background: transparent;
  border: none;
  padding-left: 15px;
}
.ingameContainer .container .headerIngame .right .volume img {
  height: 30px;
}
.ingameContainer .container main {
  padding: 10px;
  padding-top: 100px;
  width: 97vw;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.ingameContainer .container main .headline {
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 57.6px */
  letter-spacing: 2.4px;
  background: linear-gradient(180deg, #67B6FF 16.42%, #FFF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  background: white;
  background-clip: text;
}
.ingameContainer .container main .wordContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.ingameContainer .container main .wordContainer .word .keyWord {
  color: #FFFFFF;
  background: var(--Blue, #2463FF);
  box-shadow: 0px 0px 0px 0px #140E66 inset, 0px 3px 0px 1px #3C74FF inset;
  box-sizing: border-box;
  text-align: center;
  font-family: "Mouse Memoirs";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  letter-spacing: -0.48px;
  border-radius: 10px;
  max-width: 66px;
  min-width: 27px;
  height: 63px;
  background-clip: content-box;
  border: 2px solid transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.ingameContainer .container main .wordContainer .word .keyWord.hidden {
  color: transparent;
  opacity: 0.3;
}
.ingameContainer .container main .keyboard {
  display: flex;
  max-width: 450px;
  padding-bottom: 15vh;
  padding-top: 10vh;
  flex-wrap: wrap;
}
.ingameContainer .container main .keyboard .key {
  color: var(--Dark-Navy, #261676);
  box-sizing: border-box;
  text-align: center;
  font-family: "Mouse Memoirs";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  letter-spacing: -0.48px;
  border-radius: 12px;
  width: 11.1111111111%;
  background: white;
  background-clip: content-box;
  border: 4px solid transparent;
  aspect-ratio: 1/1.5;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.ingameContainer .container main .keyboard .key:hover {
  opacity: 0.6;
}
.ingameContainer .container main .keyboard .key:active {
  opacity: 0.4;
}
.ingameContainer .container main .keyboard .key.used {
  opacity: 0.2;
}

.disabled {
  filter: brightness(0.6);
  pointer-events: none;
}

.ingameContainer {
  position: relative;
}
.ingameContainer .menuBackground {
  width: 324px;
  height: 481px;
  border-radius: 48px;
  background: linear-gradient(180deg, #344ABA 0%, rgba(0, 20, 121, 0.83) 100%);
  box-shadow: 0px 9px 0px 3px #140E66, inset 0px 8px 0px 3px #2463FF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 1;
  z-index: 2;
}
.ingameContainer .menuBackground .menuHeader {
  width: 80%;
  position: absolute;
  top: -10%;
  flex-shrink: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 3;
  overflow: visible;
}
.ingameContainer .menuBackground .containerMenuBtns {
  display: flex;
  flex-direction: column;
}
.ingameContainer .menuBackground .containerMenuBtns button {
  margin-bottom: 20%;
  text-decoration: none;
  cursor: url("/assets/Pointer.svg"), auto;
  flex-shrink: 1;
  transition: all 0.4s;
  display: inline-flex;
  padding: 12px 64px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 40px;
  background: #2463FF;
  color: #FFFFFF;
  box-shadow: 0px 2px 0px 3px #140E66, -2px 5px 0px 2px #3C74FF inset;
  border: none;
  font-size: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 38.4px */
  letter-spacing: 1.6px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-clip: padding-box;
  cursor: url("/assets/Pointer.svg"), auto;
  user-select: none;
}
.ingameContainer .menuBackground .containerMenuBtns button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%), #2463FF;
  cursor: url("/assets/Pointer.svg"), auto;
}
.ingameContainer .menuBackground .containerMenuBtns button:hover {
  transform: scale(1.06);
}
.ingameContainer .menuBackground .containerMenuBtns button:active {
  transition: all 0.2s;
  transform: scale(0.9);
  filter: brightness(0.5);
}
.ingameContainer .menuBackground .containerMenuBtns .purpleBtn {
  background: linear-gradient(180deg, #FE71FE 16.42%, #7199FF 100%);
  box-shadow: 0px 2px 0px 3px #140E66, -2px 5px 0px 2px #C642FB inset;
}
.ingameContainer .menuBackground .containerMenuBtns .purpleBtn:hover {
  background: linear-gradient(180deg, #FE71FE 65%, #7199FF 100%);
}/*# sourceMappingURL=style.css.map */